In [85]:
import pandas as pd
# basics of dictionary i am going to paste
# we are going to initilize the dictionary here 
# An empty dictionary
#m#y_dict = {}

# A dictionary with some key-value pairs
#my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Initializing with key-value pairs, using dict function
#my_dict = dict(name='Alice', age=25, city='New York')

# From a list of key-value pairs (tuple list)
#my_dict = dict([('name', 'Alice'), ('age', 25), ('city', 'New York')])

#my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
#print(my_dict['name'])  # Output: Alice
#print(my_dict['age'])   # Output: 25

#This method is safer because it returns None if the key doesn't exist, instead of raising an errors
#print(my_dict.get('name'))  # Output: Alice
#print(my_dict.get('country'))  # Output: None
# You can also set a default value if the key is missing
#print(my_dict.get('country', 'USA'))  # Output: USA

#You can add a new key-value pair or update an existing one:
#my_dict['country'] = 'USA'
#print(my_dict)  # {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

#Update an existing key-value pair
#my_dict['age'] = 26
#print(my_dict)  # {'name': 'Alice', 'age': 26, 'city': 'New York', 'country': 'USA'}

#Using the .update() method
#You can update multiple key-value pairs at once using .update().
#my_dict.update({'age': 27, 'city': 'Los Angeles'})
#print(my_dict)  # {'name': 'Alice', 'age': 27, 'city': 'Los Angeles', 'country': 'USA'}

#4. Removing Items from a Dictionary
#There are a few ways to remove items from a dictionary:
#
#Using the del keyword
#del my_dict['city']
#print(my_dict)  # {'name': 'Alice', 'age': 27, 'country': 'USA'}
#
#Using the .pop() method
#pop() removes a key and returns its value.
#age = my_dict.pop('age')
#print(age)  # 27
#print(my_dict)  # {'name': 'Alice', 'country': 'USA'}
#
#Using the .popitem() method
#This removes and returns the last key-value pair inserted.
#last_item = my_dict.popitem()
#print(last_item)  # ('country', 'USA')
#print(my_dict)  # {'name': 'Alice'}
#
#Clear the entire dictionary
#You can remove all items using the .clear() method.
#my_dict.clear()
#print(my_dict)  # Output: {}
#
#5. Checking Existence of Keys
#You can check if a key exists in a dictionary using the in keyword:
#my_dict = {'name': 'Alice', 'age': 27}
#print('name' in my_dict)  # Output: True
#print('city' in my_dict)  # Output: False
#
#
#
#
#6. Dictionary Operations: Keys, Values, and Items
#You can retrieve all keys, values, or key-value pairs from a dictionary.
#keys = my_dict.keys()
#print(keys)  # Output: dict_keys(['name', 'age'])
#
#values = my_dict.values()
#print(values)  # Output: dict_values(['Alice', 27])
#
#items = my_dict.items()
#print(items)  # Output: dict_items([('name', 'Alice'), ('age', 27)])
#
#7. Iterating Through a Dictionary
#You can loop through the keys, values, or both keys and values of a dictionary.
#for key in my_dict:
#    print(key)
#	
#for value in my_dict.values():
#    print(value)
#
#for key, value in my_dict.items():
#    print(f'{key}: {value}')
#
#
#8. Dictionary Comprehension
#Just like list comprehension, you can use dictionary comprehension to create dictionaries in a more concise way.
#squares = {x: x*x for x in range(1, 6)}
#print(squares)  # Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
#
#9. Merging Two Dictionaries
#You can merge two dictionaries in Python.
#
#Using update()
#dict1 = {'name': 'Alice', 'age': 25}
#dict2 = {'city': 'New York', 'country': 'USA'}
#dict1.update(dict2)
#print(dict1)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}
#
#10. Other Useful Dictionary Methods
#setdefault()
#This method is used to get the value of a key if it exists, and if it doesnâ€™t, it inserts the key with a specified value.
#my_dict = {'name': 'Alice', 'age': 25}
#age = my_dict.setdefault('age', 30)
#city = my_dict.setdefault('city', 'New York')
#print(my_dict)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}
#
#fromkeys()
#You can create a dictionary from a list of keys with a single default value for all keys.
#keys = ['a', 'b', 'c']
#my_dict = dict.fromkeys(keys, 0)
#print(my_dict)  # Output: {'a': 0, 'b': 0, 'c': 0}
#






dict ={'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,99],
                'Gender':['Male','Female','Female','Male','Male',
                         'Female','Female']
               }
df=pd.DataFrame(dict)
df.head(3) # to print top three result
df.tail(3) #to print last three result
df.shape # to print the shape of data
df.shape[0] # print number of rows
df.shape[1] # print number of columns
#df.info() # to get the information of data with memmory usage
df.isnull()
df.replace(df.Marks[0],0,inplace=True)
df.isnull().sum(axis=0)
#Name      0
#Marks     0
#Gender    0
df.isnull().sum(axis=1)
#0    0
#1    0
#2    0
#3    0
#4    0
#5    0
#6    0
#dtype: int64

df.describe() # to get the alll the statistics of data
df.describe(include='all') #include with the data

df.Gender[0]  # we can access columns in this way 
df['Gender']  # can access in this way as wel
df['Gender'].unique()  # to get the unique elemnts array
len(df['Gender'].unique()) #as i mentioned above unique returns array , so i am couning the len of array
#df['Gender'].nunique() # this is the method to count the unique elemtns
#df['Gender'].value_counts() # it is very much like groupby

df[(df['Marks']>50) & (df['Marks']<90)]  # this is the way to get the conditionl element
df[df['Marks'].between(50,90)]   # same way
df['Marks'].mean() # inbuilt method to get the average

78.14285714285714

In [91]:
#apply method
import pandas as pd
dict ={'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,99],
                'Gender':['Male','Female','Female','Male','Male',
                         'Female','Female']
               }
df=pd.DataFrame(dict)

def marks(x):
    return x/2
df['Marks'].apply(marks)

0    49.0
1    44.5
2    49.5
3    43.5
4    45.0
5    41.5
6    49.5
Name: Marks, dtype: float64

In [93]:
# i am going to insert new column with half marks

df   #we can see there are only three column as of now

df['Half_Marks']=df['Marks'].apply(marks)
df

      Name  Marks  Gender  Half_Marks
0  Priyang     98    Male        49.0
1   Aadhya     89  Female        44.5
2   Krisha     99  Female        49.5
3   Vedant     87    Male        43.5
4   Parshv     90    Male        45.0
5   Mittal     83  Female        41.5
6  Archana     99  Female        49.5

In [122]:
#Map function

df
df['Gender'].map({'Male':1,'Female':0})  

#drop columns
#df.drop('Half_Marks',axis=1,inplace=True)
#df
##df.sort_values('column name')
df.sort_index(axis=1)

#displace the name and marks of female students

#df[['Name','Marks']]
df[df['Gender']=='Female'][['Marks','Name']]

   Marks     Name
1     89   Aadhya
2     99   Krisha
5     83   Mittal
6     99  Archana